# neon file - edit it now!

source: D:\Homepages\ModernTimes
destination: D:\Homepages\ModernTimes\doc
templateConfig: D:\Homepages\pear\ApiGen\templates\bootstrap\config.neon

# useful when doc is to be uploaded
baseUrl:
report: D:\Homepages\ModernTimes\poorDoc.txt
extensions: php
exclude: 
    - */framework/*
    - */assets/*
    - */tests/*
    - */protected/modules/*
    - */protected/extensions/*
skipDocPath:
    - */_base/*

title: Modern Times Documentation
wipeout: yes
download: no
sourceCode: yes
todo: yes
tree: yes
php: no

# tracking code
googleAnalytics: